<ng-container *ngIf="!isLoading">
    <div class="flex flex-space-between header">
        <span class="title">COSTS</span>
        <div class="select-currency">
            <span>Currency</span>
            <app-select-currency
                [list]="exchangeRates.paymentCurrencies"
                [selectedValue]="selectedCurrency.currency"
                (onItemSelected)="onCurrencyChange($event)"></app-select-currency>
            <span>1 {{baseCurrency.currency}} = {{(selectedCurrency.exchangeRate / baseCurrency.exchangeRate) | number : '1.4-4'}} {{selectedCurrency.currency}}</span>
        </div>
    </div>
    <app-expense-category
        *ngFor="let category of voyageCosts.costs"
        [category]="category"
        [baseCurrency]="baseCurrency"
        [selectedCurrency]="selectedCurrency"
    ></app-expense-category>
</ng-container>
