/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-space-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding: 24px; }
